# Ignore all
*

# Unignore all with extensions
!*.*

# Ignore .in files
*.in
# Ignore hidden directories/files, except .gitignore
.*
!/.gitignore
# Ignore object files
*.o
# Ignore all directories
*/*